@importtheme "_base";

.disasm-font {}

.hexview-font {}

.text-input-font {}

QWidget:focus {
  outline: none;
}

QWidget {
  background-color: #efefef;
  color           : #222222;
  font-family     : 'JetBrains Mono';
}

IDAView {
  border: none;
}

hexview_t {
  border: none;
}

QToolBar {
  background-color: #efefef;
  border          : none;
  spacing         : 5px;
  border          : 1px solid #eeeeee;
}

QToolBar:active {
  background-color: #dfdfdf;
}

QToolBar QWidget {
  background: transparent;
  border    : 1px solid #eeeeee;
}

QToolBar:handle {
  image        : url("$RELPATH/icons/drag.png");
  padding-right: 10px;
  padding-left : 0;
  width        : 10px;
}

QStatusBar {
  background : #efefef;
  font-family: 'JetBrains Mono';
}

QStatusBar:item {
  border     : none;
  font-family: 'JetBrains Mono';
}

IDAMainWindow>QStatusBar {
  min-height    : 0;
  height        : 23px;
  padding-bottom: 6px;
  padding-right : 7px;
  background    : #0078d6;
  color         : #ffffff;
  border-left   : 1px solid #dfdfdf;
  border-right  : 1px solid #dfdfdf;
  border-top    : 1px solid #dfdfdf;
}

IDAMainWindow>QStatusBar:item {
  border: none;
}

IDAMainWindow>QStatusBar QWidget {
  color         : #ffffff;
  padding-left  : 3px;
  padding-right : 12px;
  padding-bottom: 5px;
}

QPushButton {
  text-align: center;
  min-height: 23px;
  max-height: 23px;
  min-width : 50px;
  border    : none;
  background: #0078d6;
  padding   : 2px 10px;
  color     : #FFFFFF;
}

QPushButton:hover {
  background: #0e639c;
  border    : none;
}

QPushButton:default {
  border: none;
}

QPushButton:pressed {
  border: none;
}

QTreeView {
  border: 1px solid #272727;
}

QTreeView:item {

  height: 27.5px;
  color : #222222;
}

QTreeView:item:selected {
  background-color: #0078d6;
}

QTreeView QHeaderView:section {
  border          : 0px solid black;
  background-color: #dfdfdf;
  height          : 27.5px;
  padding-left    : 5px;
}

QLineEdit {
  border    : 1px solid #0078d6;
  background: #efefef;
  color     : #222222;
  padding   : 0px;
  height    : 25px;
  max-height: 25px;
  min-height: 25px;
}

QLineEdit:focus {
  border: 1px solid #0078d6;
}

QTabWidget::pane {
  border          : 2px solid #cdcdcd;
  background-color: #dcdcdc;
}

QTabWidget::tab-bar {
  border    : 0;
  border-top: 1px solid #afafaf;
}

QTabBar {
  background-color: #ffffff;
  border          : 0px solid black;
  border-bottom   : 2px solid #ffffff;
}

QTabBar:tab {
  border-right    : 1px solid #adadad;
  border-bottom   : 1px solid transparent;
  background-color: #ffffff;
  height          : 32px;
  max-height      : 40px;
  min-height      : 40px;
  padding         : 0 15px;
  color           : #222222;
}

QTabBar:tab:selected {
  background-color: #0078d6;
  color: #ffffff;
}

QTabBar:close-button {
  image       : url("$RELPATH/icons/close.png");
  icon-size   : 20px;
  padding     : 0px;
  margin-right: 4px;
}

QTabBar:close-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

QTabBar:close-button:pressed {
  icon-size: 24px;
  padding  : 1px -1px -1px 1px;
}

QMenuBar {
  background-color: #efefef;
  padding-left    : 2px;
  border-bottom   : 0px solid black;
}

QMenuBar:active {
  background-color: #efefef;
}

QMenuBar:item {
  background: transparent;
  color     : #222222;
}

QMenuBar:item:selected {
  background-color: #cdcdcd;
}

QTableView {
  border          : 1px solid #eeeeee;
  background-color: white;
}

QTableView:item {
  color: #222222;
}

QTableView:item:selected {
  border          : none !important;
  background-color: #0078d6;
  color           : white;
}

QTableView:section:item {
  background: #dfdfdf !important;
}

QTableView QHeaderView:section {
  background-color: #dfdfdf;
  border          : none;
}

QTableView QHeaderView:section:horizontal {
  padding    : 2px;
  border-left: 1px solid #2D3234;
}

QTableView QHeaderView:section:vertical {
  padding   : 0;
  background: transparent;
}

QTableView QTableCornerButton:section {
  background: #dfdfdf;
  border    : 0px outset #000;
}

QListView {
  border: 1px solid #1B1F20;
}

QListView:item {}

QListView:item:selected {
  background-color: #0078d6;
  color           : white;
}

QCheckBox {
  background-color: #D4D4D4;
}

QCheckBox,
QLabel,
QRadioButton {
  background: transparent;
}

QMenu {
  background-color: #efefef;
  border          : 1px solid rgba(20, 20, 20, 30);
  padding-bottom  : 8px;
}

QMenu:item {
  padding: 6px 40px 3px 40px;
}

QMenu:item:selected {
  background-color: #0078d6;
  color           : white;
}

QMenu:right-arrow {
  image : url("$RELPATH/icons/menu.png");
  margin: 5px 15px 5px 5px;
}

QMenu:icon {
  padding-left: 20px;
}

QMenu:separator {
  height    : 1px;
  background: #909090;
  width     : 1px;
  margin    : 6px;
}

QComboBox {
  background: #dfdfdf;
  border    : 1px solid #afafaf;
  padding   : 6px;
}

QComboBox:focus,
QComboBox:on {}

QComboBox:editable {
  border: 1px solid transparent;
}

QComboBox QLineEdit {
  background : transparent;
  padding    : 0;
  border     : 0;
  margin-left: 0px;
  margin-top : -4px;
}

QComboBox:drop-down {
  subcontrol-origin  : padding;
  subcontrol-position: top right;
  border             : none;
  width              : 20px;
}

QComboBox:drop-down:editable {
  subcontrol-origin  : padding;
  subcontrol-position: top right;
  border             : none;
  width              : 20px;
}

QComboBox:down-arrow {
  image : url("$RELPATH/icons/expand.png");
  margin: 0;
}

QComboBox>QLineEdit {
  min-height: default;
}

QComboBox>QLineEdit:hover {
  min-height: default;
  border    : 0px solid black;
}

QComboBox>QLineEdit:focus {
  min-height: default;
  border    : 0px solid black;
}

QComboBox QAbstractItemView {
  background                : #efefef;
  outline                   : none;
  selection-background-color: #0078d6;
  selection-color           : white;
  border                    : 1px solid #dfdfdf;
}

QComboBox:focus {
  border: 1px solid #0078d6;
}

QComboBox QLineEdit:focus {
  border-right: none;
}

QTextEdit {
  background-color: #2D3234;
  border          : 2px solid #2D2D2D;
}

TNavBand>QPushButton,
nav_scroll_button_t {
  border       : none;
  background   : transparent;
  min-height   : default;
  min-width    : default;
  padding      : default;
  border-radius: default;
}

RegJumpButton {
  min-height: 0;
  min-width : 0;
  border    : none;
  padding   : 0;
}

QDockWidget,
BaseDockWidget,
DockWidget {
  padding: 0;
}

DockWidgetTitle {
  background: #cfcfcf;
  height    : 25px;
  max-height: 25px;
  min-height: 25px;
  padding   : 0px;
  border    : 0;
  margin    : 0;
  color     : #000000;
}

DockAreaDragTitle {
  border: 0;
}

DockWidgetTitle[active="true"] {
  background: #0078d6;
}

DockWidgetTitle QPushButton {
  min-height      : 21px;
  height          : 21px;
  min-width       : 25px;
  padding         : 0;
  background-color: transparent;
}

DockWidgetTitle QPushButton[toolTip="Fullscreen"] {
  image         : url("$RELPATH/icons/fullscreen.png");
  color         : #000000;
  qproperty-icon: url("$RELPATH/icons/blank.png");
}

DockWidgetTitle QPushButton[toolTip="Float"] {
  image         : url("$RELPATH/icons/float.png");
  color         : #000000;
  qproperty-icon: url("$RELPATH/icons/blank.png");
}

DockWidgetTitle QPushButton[toolTip="Close"] {
  image         : url("$RELPATH/icons/close.png");
  color         : #000000;
  qproperty-icon: url("$RELPATH/icons/blank.png");
}

EditContainer {
  border: 1px solid #afafaf;
}

QScrollBar {
  background-color: #efefef;
  border          : 0px solid #efefef;
  margin          : 0;
  padding         : 0;
}

QScrollBar:horizontal {
  height: 12px;
}

QScrollBar:vertical {
  width: 12px;
}

QScrollBar:sub-line {
  width : 0;
  height: 0;
}

QScrollBar:add-line {
  width : 0;
  height: 0;
}

QScrollBar:add-page {
  background: none;
  width     : 0;
  height    : 0;
}

QScrollBar:sub-page {
  background: none;
  width     : 0;
  height    : 0;
}

QScrollBar:handle {
  background-color: rgba(12, 12, 12, 0.1);
}

QScrollBar:handle:vertical {
  min-height: 20px;
}

QScrollBar:handle:horizontal {
  min-width: 20px;
}

QScrollBar:handle:hover {
  background-color: rgba(10, 10, 10, 0.2);
}

ChooserContainer {
  border: 1px solid #afafaf;
}

QGroupBox {
  border    : 1px solid #afafaf;
  margin-top: 5px;
}

QGroupBox:title {
  subcontrol-origin  : margin;
  subcontrol-position: top center;
}

TextArrows {
  border-bottom: 1px solid #414141;
}

IDADockWidget[objectName="Output window"] {
  qproperty-windowIcon: url("$RELPATH/icons/blank.png");
}

IDADockWidget[objectName="Output window"] DockWidgetTitle {
  background: #dfdfdf;
  color     : #000000;
  margin    : 0;
  padding   : 4px;
}

IDADockWidget[objectName="Output window"] DockWidgetTitle QPushButton {
  background: transparent;
}

IDADockWidget[objectName="Output window"] QTextEdit:focus {
  border: 1px solid #0078d6;
}

IDADockWidget[objectName="Output window"] QLineEdit {}

IDADockWidget[objectName="Output window"] QGroupBox {
  margin : 0;
  padding: 0;
  border : none;
}

IDADockWidget[objectName="Output window"] QPushButton {}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton:hover {
  border: none;
}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton:focus {
  border: none;
}


CustomIDAMemo
{
    border: none;
    qproperty-graph-bg-top: #EFEFEF;
    qproperty-graph-bg-bottom: #EFEFEF;
    qproperty-graph-node-shadow: #EFEFEF;
    
    qproperty-line-fg-default                     : blue;        /* Default                                       */
    qproperty-line-fg-regular-comment             : blue;        /* Regular comment                               */
    qproperty-line-fg-repeatable-comment          : gray;        /* Repeatable commen                             */
    qproperty-line-fg-automatic-comment           : gray;        /* Automatic comment                             */
    qproperty-line-fg-insn                        : navy;        /* Instruction                                   */
    qproperty-line-fg-dummy-data-name             : navy;        /* Dummy Data Name                               */
    qproperty-line-fg-regular-data-name           : blue;        /* Regular Data Name                             */
    qproperty-line-fg-demangled-name              : blue;        /* Demangled Name                                */
    qproperty-line-fg-punctuation                 : navy;        /* Punctuation                                   */
    qproperty-line-fg-charlit-in-insn             : green;       /* Char constant                                 */
    qproperty-line-fg-strlit-in-insn              : lime;        /* String constant                               */
    qproperty-line-fg-numlit-in-insn              : green;       /* Numeric constant                              */
    qproperty-line-fg-void-opnd                   : #FF8000;     /* Void operand                                  */
    qproperty-line-fg-code-xref                   : green;       /* Code reference                                */
    qproperty-line-fg-data-xref                   : #8080FF;     /* Data reference                                */
    qproperty-line-fg-code-xref-to-tail           : red;         /* Code reference to tail byte                   */
    qproperty-line-fg-data-xref-to-tail           : olive;       /* Data reference to tail byte                   */
    qproperty-line-fg-error                       : #010101;     /* Error or problem                              */
    qproperty-line-fg-line-prefix                 : silver;      /* Line prefix                                   */
    qproperty-line-fg-opcode-byte                 : blue;        /* Opcode bytes                                  */
    qproperty-line-fg-extra-line                  : blue;        /* Extra line                                    */
    qproperty-line-fg-alt-opnd                    : blue;        /* Alternative operand                           */
    qproperty-line-fg-hidden                      : gray;        /* Hidden name                                   */
    qproperty-line-fg-libfunc                     : #8080FF;     /* Library function name                         */
    qproperty-line-fg-locvar                      : green;       /* Local variable name                           */
    qproperty-line-fg-dummy-code-name             : navy;        /* Dummy code name                               */
    qproperty-line-fg-asm-directive               : blue;        /* Assembler directive                           */
    qproperty-line-fg-macro                       : purple;      /* Macro                                         */
    qproperty-line-fg-strlit-in-data              : green;       /* String constant in data directive             */
    qproperty-line-fg-charlit-in-data             : green;       /* Char constant in data directive               */
    qproperty-line-fg-numlit-in-data              : #008040;     /* Numeric constant in data directive            */
    qproperty-line-fg-keyword                     : navy;        /* Keywords (offset, byte ptr, near)             */
    qproperty-line-fg-register-name               : navy;        /* Register name                                 */
    qproperty-line-fg-import-name                 : fuchsia;     /* Imported name                                 */
    qproperty-line-fg-segment-name                : olive;       /* Segment name                                  */
    qproperty-line-fg-dummy-unknown-name          : navy;        /* Dummy unknown name                            */
    qproperty-line-fg-code-name                   : blue;        /* Regular Code Name                             */
    qproperty-line-fg-unknown-name                : navy;        /* Regular Unknown Name                          */
    qproperty-line-fg-collapsed-line              : blue;        /* Collapsed line                                */
    qproperty-line-bg-default                     : white;       /* Default background                            */
    qproperty-line-bg-selected                    : #C0BBAF;     /* Selected background                           */
    qproperty-line-pfx-libfunc                    : cyan;        /* Line prefix: Library function                 */
    qproperty-line-pfx-func                       : black;       /* Line prefix: Regular function                 */
    qproperty-line-pfx-insn                       : maroon;      /* Line prefix: Single instruction               */
    qproperty-line-pfx-data                       : gray;        /* Line prefix: Data bytes                       */
    qproperty-line-pfx-unexplored                 : olive;       /* Line prefix: Unexplored byte                  */
    qproperty-line-pfx-extern                     : fuchsia;     /* Line prefix: External name definition segment */
    qproperty-line-pfx-current-line               : blue;        /* Line prefix: Current line                     */
    qproperty-line-pfx-hidden-line                : black;       /* Line prefix: Hidden line                      */
    qproperty-line-pfx-lumina                     : #32CD32;     /* Line prefix: Lumina                           */
}


TCpuRegs {
  background-color              : #4D4D4D;
  qproperty-register-defined    : #858585;
  qproperty-register-changed    : #569cd6;
  qproperty-register-edited     : #800080;
  qproperty-register-unavailable: #808080;
}

TCpuRegs IDALabel {
  color: #222;
}

navband_t {
  qproperty-code                : #b97a57;
  qproperty-data                : #c0c0c0;
  qproperty-error               : #ff5b5b;
  qproperty-auto-analysis-cursor: #ffaa00;
  qproperty-lumina-function     : #32cd32;
  qproperty-lib-function: #D5D5D5;
  qproperty-function: #797979;
  qproperty-undefined: #A4A4A4;
  qproperty-extern: #A0ADC5;
  qproperty-gap: #E9E9E9;
  qproperty-cursor: #0055FF;
}

MainMsgList {
  color           : #333333;
  background-color: #ffffff;
}

TextArrows {
  qproperty-jump-in-function         : #c0c0c0;
  qproperty-jump-external-to-function: #ff0000;
  qproperty-jump-under-cursor        : #42cf1f;
  qproperty-jump-target              : #008000;
  qproperty-register-target          : #0078d6;
}

TextEdit {
  qproperty-keyword1-fg    : #0000ff;
  qproperty-keyword2-fg    : #800080;
  qproperty-keyword3-fg    : #ff0000;
  qproperty-string-fg      : #8b0000;
  qproperty-comment-fg     : #006400;
  qproperty-preprocessor-fg: #0078d6;
  qproperty-number-fg      : #008b8b;
}

CustomIDAMemo[debugging="true"] {
  qproperty-line-bg-default: #c4c4c4;
}

CustomIDAMemo[hints="true"] {
  qproperty-line-bg-default: #bdbdbd;
}

navigator_t {
  height: 10px;
}

QSplitter::handle {
  image           : url(images/splitter.png);
  background-color: white;
}

QSplitter::handle:horizontal {
  width: 1px;
}

QSplitter::handle:vertical {
  height: 1px;
}

QFrame,
QToolTip,
QLabel {
  border: 0;
}

TextEdit text_edit_margin_widget_t {
  color                 : #666666;
  qproperty-header-color: gainsboro;
}

TChooser {
  qproperty-highlight-bg-default : red;
  qproperty-highlight-bg-selected: pink;
}

CustomIDAMemo[debugging="true"]
{
    qproperty-graph-bg-top: #EFEFEF;
    qproperty-graph-bg-bottom: white;
    qproperty-graph-node-shadow: #EFEFEF;
}

CustomIDAMemo[hints="true"]
{
    qproperty-graph-bg-top: #EFEFEF;
    qproperty-graph-bg-bottom: white;
    qproperty-graph-node-shadow: #EFEFEF;
}

