@importtheme "_base";

.disasm-font {}

.hexview-font {}

.text-input-font {}

QWidget {
  background-color: #1E1E1E;
  color           : #FFFFFF;
  font-family     : 'JetBrains Mono';
}

IDAView {
  border: none;
}

hexview_t {
  border: none;
}

QToolBar {
  background-color: #333;
  border          : none;
  spacing         : 5px;
  border          : 1px solid #272727;
}

QToolBar:active {
  background-color: #3C3C3C;
}

QToolBar QWidget {
  background: transparent;
  border    : 1px solid #3C3C3C;
}

QToolBar:handle {
  image        : url("$RELPATH/icons/drag.png");
  padding-right: 10px;
  padding-left : 0;
  width        : 10px;
}

QStatusBar {
  background : #1e1e1e;
  font-family: 'Consolas';
}

QStatusBar:item {
  border     : none;
  font-family: 'Consolas';
}

IDAMainWindow>QStatusBar {
  min-height    : 0;
  height        : 23px;
  padding-bottom: 6px;
  padding-right : 7px;
  background    : #007acc;
  border-left   : 1px solid #1e1e1e;
  border-right  : 1px solid #1e1e1e;
  border-top    : 1px solid #1e1e1e;
}

IDAMainWindow>QStatusBar:item {
  border: none;
}

IDAMainWindow>QStatusBar QWidget {
  color         : #fff;
  padding-left  : 3px;
  padding-right : 12px;
  padding-bottom: 5px;
}

QPushButton {
  text-align: center;
  min-height: 23px;
  max-height: 23px;
  min-width : 50px;
  border    : none;
  background: #007acc;
  padding   : 2px 10px;
  color     : #FFFFFF;
}

QPushButton:hover {
  background: #0e639c;
  border    : none;
}

QPushButton:default {
  border: none;
}

QPushButton:pressed {
  border: none;
}

QTreeView {
  border: 1px solid #272727;
}

QTreeView:item {

  height: 27.5px;
  color : #e7e7e7;
}

QTreeView:item:selected {
  background-color: #007acc;
}

QTreeView QHeaderView:section {
  border          : 0px solid black;
  background-color: #272727;
  height          : 27.5px;
  padding-left    : 5px;
}

QLineEdit {
  border    : 1px solid #007acc;
  background: #272727;
  color     : #ccc;
  padding   : 0px;
  height    : 25px;
  max-height: 25px;
  min-height: 25px;
}

QLineEdit:focus {
  border: 1px solid #007acc;
}

QTabWidget::pane {
  border          : 2px solid #2D2D2D;
  background-color: #1e1e1e;
}

QTabWidget::tab-bar {
  border    : 0;
  border-top: 1px solid #2D2D2D;
}

QTabBar {
  background-color: #1e1e1e;
  border          : 0px solid black;
  border-bottom   : 2px solid #333333;
}

QTabBar:tab {
  border-right    : 2px solid #252526;
  background-color: #333333;
  height          : 32px;
  max-height      : 40px;
  min-height      : 40px;
  padding         : 0 15px;
  color           : #FFFFFF;
}

QTabBar:tab:selected {
  background-color: #007acc;
}

QTabBar:close-button {
  image       : url("$RELPATH/icons/close.png");
  icon-size   : 20px;
  padding     : 0px;
  margin-right: 4px;
}

QTabBar:close-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

QTabBar:close-button:pressed {
  icon-size: 24px;
  padding  : 1px -1px -1px 1px;
}

QMenuBar {
  background-color: #333;
  padding-left    : 2px;
  border-bottom   : 1px solid black;
}

QMenuBar:active {
  background-color: #3C3C3C;
}

QMenuBar:item {
  background: transparent;
  color     : #ccc;
}

QMenuBar:item:selected {
  background-color: #505050;
}

QTableView {
  border          : 1px solid #272727;
  background-color: #252526;
}

QTableView:item {
  color: #eeeeee;
}

QTableView:item:selected {
  border          : none !important;
  background-color: #007acc;
}

QTableView:section:item {
  background: #1e1e1e !important;
}

QTableView QHeaderView:section {
  background-color: #1e1e1e;
  border          : none;
}

QTableView QHeaderView:section:horizontal {
  padding    : 2px;
  border-left: 1px solid #2D3234;
}

QTableView QHeaderView:section:vertical {
  padding   : 0;
  background: transparent;
}

QTableView QTableCornerButton:section {
  background: #2D3234;
  border    : 0px outset #000;
}

QListView {
  border: 1px solid #1B1F20;
}

QListView:item {}

QListView:item:selected {
  background-color: #007acc;
}

QCheckBox {
  background-color: #D4D4D4;
}

QCheckBox,
QLabel,
QRadioButton {
  background: transparent;
}

QMenu {
  background-color: #252526;
  border          : 1px solid rgba(200, 200, 200, 30);
  padding-bottom  : 8px;
}

QMenu:item {
  padding: 6px 40px 3px 40px;
}

QMenu:item:selected {
  background-color: #007acc;
}

QMenu:right-arrow {
  image : url("$RELPATH/icons/menu.png");
  margin: 5px 15px 5px 5px;
}

QMenu:icon {
  padding-left: 20px;
}

QMenu:separator {
  height    : 1px;
  background: #616162;
  width     : 1px;
  margin    : 6px;
}

QComboBox {
  background: #3c3c3c;
  border    : 1px solid #505050;
  padding   : 6px;
}

QComboBox:focus,
QComboBox:on {}

QComboBox:editable {
  border: 1px solid transparent;
}

QComboBox QLineEdit {
  background : transparent;
  padding    : 0;
  border     : 0;
  margin-left: 0px;
  margin-top : -4px;
}

QComboBox:drop-down {
  subcontrol-origin  : padding;
  subcontrol-position: top right;
  border             : none;
  width              : 20px;
}

QComboBox:drop-down:editable {
  subcontrol-origin  : padding;
  subcontrol-position: top right;
  border             : none;
  width              : 20px;
}

QComboBox:down-arrow {
  image : url("$RELPATH/icons/expand.png");
  margin: 0;
}

QComboBox>QLineEdit {
  min-height: default;
}

QComboBox>QLineEdit:hover {
  min-height: default;
  border    : 0px solid black;
}

QComboBox>QLineEdit:focus {
  min-height: default;
  border    : 0px solid black;
}

QComboBox QAbstractItemView {
  background                : #3c3c3c;
  outline                   : none;
  selection-background-color: #062f4a;
}

QComboBox:focus {
  border: 1px solid #007acc;
}

QComboBox QLineEdit:focus {
  border-right: none;
}

QTextEdit {
  background-color: #2D3234;
  border          : 2px solid #2D2D2D;
}

TNavBand>QPushButton,
nav_scroll_button_t {
  border       : none;
  background   : transparent;
  min-height   : default;
  min-width    : default;
  padding      : default;
  border-radius: default;
}

RegJumpButton {
  min-height: 0;
  min-width : 0;
  border    : none;
  padding   : 0;
}

QDockWidget,
BaseDockWidget,
DockWidget {
  padding: 0;
}

DockWidgetTitle {
  background: #272727;
  height    : 25px;
  max-height: 25px;
  min-height: 25px;
  padding   : 0px;
  border    : 0;
  margin    : 0;
  color     : #FFFFFF;
}

DockAreaDragTitle {
  border: 0;
}

DockWidgetTitle[active="true"] {
  background: #007acc;
}

DockWidgetTitle QPushButton {
  min-height      : 21px;
  height          : 21px;
  min-width       : 25px;
  padding         : 0;
  background-color: 1e1e1e;
}

DockWidgetTitle QPushButton[toolTip="Fullscreen"] {
  image         : url("$RELPATH/icons/fullscreen.png");
  color         : #FFFFFF;
  qproperty-icon: url("$RELPATH/icons/blank.png");
}

DockWidgetTitle QPushButton[toolTip="Float"] {
  image         : url("$RELPATH/icons/float.png");
  color         : #FFFFFF;
  qproperty-icon: url("$RELPATH/icons/blank.png");
}

DockWidgetTitle QPushButton[toolTip="Close"] {
  image         : url("$RELPATH/icons/close.png");
  color         : #FFFFFF;
  qproperty-icon: url("$RELPATH/icons/blank.png");
}

EditContainer {
  border: 1px solid #373737;
}

QScrollBar {
  background-color: #1E1E1E;
  border          : 0px solid #383838;
  margin          : 0;
  padding         : 0;
}

QScrollBar:horizontal {
  height: 12px;
}

QScrollBar:vertical {
  width: 12px;
}

QScrollBar:sub-line {
  width : 0;
  height: 0;
}

QScrollBar:add-line {
  width : 0;
  height: 0;
}

QScrollBar:add-page {
  background: none;
  width     : 0;
  height    : 0;
}

QScrollBar:sub-page {
  background: none;
  width     : 0;
  height    : 0;
}

QScrollBar:handle {
  background-color: rgba(121, 121, 121, 0.4);
}

QScrollBar:handle:vertical {
  min-height: 20px;
}

QScrollBar:handle:horizontal {
  min-width: 20px;
}

QScrollBar:handle:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

ChooserContainer {
  border: 1px solid #1B1F20;
}

QGroupBox {
  border    : 1px solid #1B1F20;
  margin-top: 5px;
}

QGroupBox:title {
  subcontrol-origin  : margin;
  subcontrol-position: top center;
}

TextArrows {
  border-bottom: 1px solid #414141;
}

IDADockWidget[objectName="Output window"] {
  qproperty-windowIcon: url("$RELPATH/icons/blank.png");
}

IDADockWidget[objectName="Output window"] DockWidgetTitle {
  background: #1e1e1e;
  color     : #e7e7e7;
  margin    : 0;
  padding   : 4px;
}

IDADockWidget[objectName="Output window"] DockWidgetTitle QPushButton {
  background: #1e1e1e;
}

IDADockWidget[objectName="Output window"] QTextEdit:focus {
  border: 1px solid #007acc;
}

IDADockWidget[objectName="Output window"] QLineEdit {}

IDADockWidget[objectName="Output window"] QGroupBox {
  margin : 0;
  padding: 0;
  border : none;
}

IDADockWidget[objectName="Output window"] QPushButton {}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton:hover {
  border: none;
}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton:focus {
  border: none;
}

CustomIDAMemo {
  border: none;

  qproperty-line-fg-default           : #58e219;
  qproperty-line-fg-regular-comment   : #58e219;
  qproperty-line-fg-repeatable-comment: #bebebe;
  qproperty-line-fg-automatic-comment : #bebebe;
  qproperty-line-fg-insn              : #d4d4d4;
  qproperty-line-fg-dummy-data-name   : #9cdcfe;
  qproperty-line-fg-regular-data-name : #9cdcfe;
  qproperty-line-fg-demangled-name    : #dcdcaa;
  qproperty-line-fg-punctuation       : #d4d4d4;
  qproperty-line-fg-charlit-in-insn   : #d7ba7d;
  qproperty-line-fg-strlit-in-insn    : #58e219;
  qproperty-line-fg-numlit-in-insn    : #58e219;
  qproperty-line-fg-void-opnd         : #d7ba7d;
  qproperty-line-fg-code-xref         : #d4e91b;
  qproperty-line-fg-data-xref         : #569cd6;
  qproperty-line-fg-code-xref-to-tail : #e51400;
  qproperty-line-fg-data-xref-to-tail : #b9b90c;
  qproperty-line-fg-error             : #010101;
  qproperty-line-fg-line-prefix       : #777777;
  qproperty-line-fg-opcode-byte       : #b5cea8;
  qproperty-line-fg-extra-line        : #dcdcaa;
  qproperty-line-fg-alt-opnd          : #0000ff;
  qproperty-line-fg-hidden            : #d4d4d4;
  qproperty-line-fg-libfunc           : #9cdcfe;
  qproperty-line-fg-locvar            : #9cdcfe;
  qproperty-line-fg-dummy-code-name   : #9cdcfe;
  qproperty-line-fg-asm-directive     : #9cdcfe;
  qproperty-line-fg-macro             : #c586c0;
  qproperty-line-fg-strlit-in-data    : #ce9178;
  qproperty-line-fg-charlit-in-data   : #ce9178;
  qproperty-line-fg-numlit-in-data    : #58e219;
  qproperty-line-fg-keyword           : #c586c0;
  qproperty-line-fg-register-name     : #9cdcfe;
  qproperty-line-fg-import-name       : #d31ec4;
  qproperty-line-fg-segment-name      : #d4d4d4;
  qproperty-line-fg-dummy-unknown-name: #9cdcfe;
  qproperty-line-fg-code-name         : #dcdcaa;
  qproperty-line-fg-unknown-name      : #00ffff;
  qproperty-line-fg-collapsed-line    : #6a9955;
  qproperty-line-bg-default           : #1e1e1e;
  qproperty-line-bg-selected          : #32ade1;
  qproperty-line-pfx-libfunc          : #00eaea;
  qproperty-line-pfx-func             : #569cd6;
  qproperty-line-pfx-insn             : #f30b0b;
  qproperty-line-pfx-data             : #858585;
  qproperty-line-pfx-unexplored       : #808000;
  qproperty-line-pfx-extern           : #ff00ff;
  qproperty-line-pfx-current-item     : #6a9955;
  qproperty-line-pfx-current-line     : #aaaaaa;
  qproperty-graph-bg-top              : #1e1e1e;
  qproperty-graph-bg-bottom           : #1e1e1e;
  qproperty-graph-node-title-normal   : #4b4b4b;
  qproperty-graph-node-title-selected : #b1f9f9;
  qproperty-graph-node-title-current  : #a0cfcf;
  qproperty-graph-node-frame-group    : #ffff00;
  qproperty-graph-node-shadow         : #000000;
  qproperty-graph-node-high1          : #ccffff;
  qproperty-graph-node-high2          : #ccffcc;
  qproperty-graph-node-foreign        : #ff0000;
  qproperty-graph-edge-normal         : #0000ff;
  qproperty-graph-edge-yes            : #008000;
  qproperty-graph-edge-no             : #ff0000;
  qproperty-graph-edge-high           : #ff00ff;
  qproperty-graph-edge-current        : #00ffff;
  qproperty-line-fg-patched-bytes     : #804040;
  qproperty-line-fg-unsaved-changes   : #ff8000;
  qproperty-line-bg-highlight         : #28639b;
  qproperty-line-bg-bpt-enabled       : #e51400;
  qproperty-line-bg-bpt-disabled      : #019b10;
  qproperty-line-bg-bpt-unavailable   : #ff8000;
}

TCpuRegs {
  background-color              : #4D4D4D;
  qproperty-register-defined    : #858585;
  qproperty-register-changed    : #569cd6;
  qproperty-register-edited     : #800080;
  qproperty-register-unavailable: #808080;
}

TCpuRegs IDALabel {
  color: #AAAAAA;
}

navband_t {
    qproperty-lib-function: #1E1E1E;
    qproperty-function: #272727;
    qproperty-code: #414141;
    qproperty-data: #5C5C5C;
    qproperty-undefined: black;
    qproperty-extern: #1C1B34;
    qproperty-error: #4D1B1B;
    qproperty-gap: #333333;
    qproperty-cursor: #007ACC;
    qproperty-auto-analysis-cursor: #007ACC;
    qproperty-lumina-function: #145614;
}

MainMsgList {
  color           : #cccccc;
  background-color: #1e1e1e;
}

TextArrows {
  qproperty-jump-in-function         : #c0c0c0;
  qproperty-jump-external-to-function: #ff0000;
  qproperty-jump-under-cursor        : #42cf1f;
  qproperty-jump-target              : #008000;
  qproperty-register-target          : #007acc;
}

TextEdit {
  qproperty-keyword2-fg    : #800080;
  qproperty-keyword3-fg    : #ff0000;
  qproperty-preprocessor-fg: #007acc;
  qproperty-number-fg      : #008b8b;
  qproperty-keyword1-fg: #0099FF;
  qproperty-keyword1-weight: 1;
  qproperty-string-fg: #F0A000;
  qproperty-comment-fg: #00CC00;
}

CustomIDAMemo[debugging="true"] {
  qproperty-line-bg-default: #4D4D4D;
}

CustomIDAMemo[hints="true"] {
  qproperty-line-bg-default: #424242;
}

navigator_t {
  height: 10px;
}

QSplitter::handle {
  image           : url(images/splitter.png);
  background-color: black;
}

QSplitter::handle:horizontal {
  width: 1px;
}

QSplitter::handle:vertical {
  height: 1px;
}

QFrame,
QToolTip,
QLabel {
  border: 0;
}

TextEdit text_edit_margin_widget_t {
  color                 : #666666;
  qproperty-header-color: gainsboro;
}

TChooser {
  qproperty-highlight-bg-default : red;
  qproperty-highlight-bg-selected: pink;
}
